<div id="main-top" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="display-4">DHBW Online-Vorlesungen</h1>
</div>
<div id="main-body">
    <form action="lecture-host.php" method="post">
        <div class="form-row">
            <div class="col-md-5">
                <select class="custom-select form-control" name="lectureToStart" id="lectureToStart"></select>
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary form-control" value="Vorlesung starten">
            </div>        
    </form>
        
    
</div>