<div id="main-top" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Vorlesungsverwaltung</h1>
</div>
<div id="main-body">
    <form action="#" method="post" id="formLectureCreate">
        <div class="input-group mb-3">
            <input type="text" name="newLecture" id="newLecture" class="form-control" placeholder="Name der Vorlesung"/>
            <div class="input-group-append">
                <button class="btn btn-primary btn-block form-control" name="lecture_create" onclick="event.preventDefault(); createLecture();" id="lecture_create">Vorlesung anlegen</button>
            </div>
        </div>
    </form>

    <!-- ggfs. noch auf angemeldeten Dozenten einschränken -->
    <h3>Alle Vorlesungen</h3>
    <input type="text" id="searchInput" class="form-control" onkeyup="searchInTwoColumns('allLectures')" placeholder="Nach ID oder Name suchen..">
    <table class="table table-hover table-responsive-sm" id="allLectures">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <!--<th>Benutzer</th>-->
        </tr>
        </thead>
        <tbody id="allLecturesBody">
        </tbody>
    </table>
</div>