<div id="notification" class="notification row no-gutters border shadow-sm mb-1 bg-white rounded w-100 h-auto">
    <div id="notificationType" class="notificationType col-1 d-flex justify-content-center">
        <i id="notificationIcon" class="fas align-self-center text-white"></i>
    </div>
    <div id="notificationBody" class="notificationBody col p-3 align-self-center">
        <div id="notificationHeader" class="notificationHeader font-weight-bold">
        </div>
        <div id="notificationBodyText" class="notificationText">
        </div>
    </div>
    <button type="button" class="close pull-right p-3 align-self-center" onclick="this.parentElement.style.display = 'none'" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>