<div id="passwordResetModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Passwort zurücksetzen</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="was-validated" method="POST" action="#" id="formPasswordReset">
                    <div class="form-group" >
                        <input type="password" name="password1" id="password1" oninput="checkPassword('password1', 'password2', 'submitPasswordReset', 'formPasswordReset')" class="form-control" placeholder="Passwort" size="25" required />
                        <div class="invalid-Feedback" id="error_password1" hidden> Passwort eingeben</div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password2" id="password2" oninput="checkPassword('password1', 'password2', 'submitPasswordReset', 'formPasswordReset')" class="form-control" placeholder="Passwort wiederholen" size="25" required />
                        <div class="invalid-Feedback" id="error_password2" hidden> Passwörter müssen übereinstimmen</div>
                    </div>
            </div>
            <div class="modal-footer">
                <button disabled type="submit" onclick="event.preventDefault(); userEdit.resetPasswort();"class="btn btn-success" data-dismiss="modal" name="submitPasswordReset" id="submitPasswordReset">Passwort ändern</button>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

<div id="main-top" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" id="main-top-heading"></h1>    
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">       
            <!-- <button class="btn btn-sm btn-outline-success">
                Speichern
            </button>  -->
            <button hidden id="button_activate" onclick="userEdit.activate();" class="btn btn-sm btn-outline-secondary">
                Benutzer aktivieren
            </button>
            <button hidden id="button_deactivate"  onclick="userEdit.deactivate();" class="btn btn-sm btn-outline-secondary">
                Benutzer deaktivieren
            </button>
            <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#passwordResetModal">
                Passwort zurücksetzen
            </button>
            <button class="btn btn-sm btn-outline-secondary" onclick="userEdit.delete();">
                Benutzer löschen
            </button>
            <button onclick="closeUserEdit();" class="btn btn-sm btn-outline-secondary">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
</div>
<div id="main-body">
    <h3>Name ändern</h3>
    <form action="#" method="post" class="was-validated" id="formNameAendern">
        <div class="form-group">
            <div class="input-group mb-3">
                <input disabled type="text" name="newName" id="newName" class="form-control" placeholder="Name"/>
                <div class="invalid-feedback" id="error_newName" hidden>Benutzername eingeben</div>
                <div class="valid-feedback" id="valid_newName" hidden> Benutzername verfügbar </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" onclick="enableInput(['newName','buttonSaveUsername'])"><i class="fas fa-edit"></i></button>
                </div>
                <div class="input-group-append">
                    <button disabled class="btn btn-outline-success" id="buttonSaveUsername" onclick="event.preventDefault(); userEdit.rename(); "type="button">Speichern</button>
                </div>
            </div>            
        </div>
    </form>
    <h3>Mitglied von</h3>
    <table class="table table-hover table-responsive-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kürzel</th>
                <th>Name</th>
                <th>Aus Gruppe entfernen</th>
            </tr>
        </thead>
        <tbody id="memberOfBody">
        </tbody>
    </table>    
    <h3>Alle Gruppen</h3>
    <table class="table table-hover table-responsive-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kürzel</th>
                <th>Name</th>
                <th>Zu Gruppe hinzufügen</th>
            </tr>
        </thead>
        <tbody id="notMemberOfBody">
        </tbody>
    </table>    
</div>