<div id="main-top" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Benutzerverwaltung</h1>
</div>
<div id="main-body">
    <form action="#" method="post" class="was-validated" id="formUserCreate">
        <div class="form-row">
            <div class="col-md-2">
                <input type="text" name="username" id="username" onkeyup="checkField('username', 'Benutzername', 'user_create', 'formUserCreate', true)" class="form-control" placeholder="Benutzername" required />
                <div class="invalid-feedback" id="error_username" hidden>Benutzername eingeben</div>
                <div class="valid-feedback" id="valid_username"> Benutzername verfügbar </div>
            </div>
            <div class="col-md-2">
                <input type="password" name="password1" id="password1" oninput="checkPassword('password1', 'password2', 'user_create', 'formUserCreate')" class="form-control" placeholder="Passwort" required />
                <div class="invalid-Feedback" id="error_password1" hidden> Passwort eingeben</div>
                <div class="valid-Feedback" id="valid_password1" hidden></div>
            </div>
            <div class="col-md-2">
                <input type="password" name="password2" id="password2" oninput="checkPassword('password1', 'password2', 'user_create', 'formUserCreate')" class="form-control" placeholder="Passwort wiederholen" required />
                <div class="invalid-Feedback" id="error_password2" hidden>Passwörter müssen übereinstimmen</div>
                <div class="valid-Feedback" id="valid_password2" hidden></div>
            </div>
            <div class="col-md-2">
                <select class="custom-select form-control" name="user_type" id="user_type">
                    <option selected value="student">Student</option>
                    <option value="dozent">Dozent</option>
                </select>
            </div>
            <div class="col-md-2">
                <button disabled class="btn btn-primary btn-block form-control" name="user_create" onclick="event.preventDefault(); createUser();" id="user_create">Benutzer anlegen</button>
            </div>
        </div>
    </form>
    <h3>Alle Benutzer</h3>
    <input type="text" id="searchInput" class="form-control" onkeyup="searchInTwoColumns('allUsers')" placeholder="Nach ID oder Name suchen..">
    <table class="table table-hover table-responsive-sm" id="allUsers">
        <thead>
            <tr>
                <th>#</th>
                <th>Benutzername</th>
                <th>Aktiviert</th>
                <th>Registriert am</th>
                <th>Zuletzt aktiv am</th>
            </tr>
        </thead>
        <tbody id="allUsersBody">
        </tbody>
    </table>
</div>